html, body{
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.spinnerLoading {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{

}